<div class="container main-container mt-5">
    <h1 class="text-white">LOGIN</h1>
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" class="form-control">
    </div>
    <div>
      <label for="senha">Senha</label>
      <input id="senha" type="password" class="form-control">
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" name="checkbox" id="checkbox" class="form-check-input">
      <label for="checkbox" class="form-check-label ">Lembrar de mim</label>
    </div>
    <a [routerLink]="'app'" class="btn btn-primary">
      <!-- <button type="button" class="btn btn-primary" style="width: 100%;">Login</button> -->Login
    </a>
    
  </div>
  